{% extends 'help_base.html' %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load i18n %}
{% load static %}

{% block page_head %}
  <style type="text/css">
    dd {
        margin-left: 30px;
    }
    .pdf {
        float: right;
        margin: 2rem 0;
    }
  </style>
{% endblock %}

{% block content %}
  <a href="{% url 'help:download-manual' %}" class="btn btn-default pdf"
     role="button">
    <span class="fa fa-download fa-fw fa-lg"></span>
    {% trans 'Download as PDF' %}
  </a>
  {{ content|safe }}
{% endblock %}

{% block page_js %}
  <script type="text/javascript" src="{% static 'help/help.js' %}"></script>
{% endblock %}
