{% extends "app.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block configuration %}

  <table class="table table-bordered table-condensed table-striped names-table">
    <thead>
      <tr>
        <th>Type</th>
        <th class="names-domain-column">Domain Name</th>
        <th>Services</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for domain in status.domains|dictsort:"domain_type.display_name" %}
        <tr>
          <td>{{ domain.domain_type.display_name }}</td>
          <td class="names-domain-column">{{ domain.name }}</td>
          <td>{{ domain.get_readable_services|join:', ' }}</td>
          <td>
            <a href="{% url domain.domain_type.configuration_url %}"
               role="button" class="btn btn-md btn-default">
              {% trans "Configure" %}
            </a>
          </td>
        </tr>
      {% endfor %}

      {% for domain_type in status.unused_domain_types %}
        <tr>
          <td>{{ domain_type.display_name }}</td>
          <td>-</td>
          <td>-</td>
          <td>
            <a href="{% url domain_type.configuration_url %}"
               role="button" class="btn btn-md btn-default">
              {% trans "Configure" %}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
